.navbar-nav > li {
  float: left;
  position: relative;
}
.navbar-light .navbar-nav .active a::after {
  border-bottom: 5px solid #5bc0eb;
  bottom: -10px;
  content: " ";
  left: 0;
  position: absolute;
  right: 0;
}
.navbar-default .navbar-nav > .active:after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    content: " ";
    border-bottom: 5px solid #5BC0EB;
}

.navbar-brand {
    font-size: 24px;
}
/*@media (min-width: 768px){*/
.navbar-nav {
    float: left;
    margin: 0;
    margin-left: 550px !important;
}
/*.navbar-nav>.active>a:hover {
    color: #fff;
    background-color: red;
     border-bottom-color: blue; 
    border-bottom: 2px solid blue !important;
}*/
/*.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: #080808;
    border-bottom: 2px solid blue !important;
}*/
.owl-theme .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
    outline: none !important;
}
/*@media (min-width: 768px){
    
}*/
.navbar-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
    }
.nav > li > a {
    position: relative;
    display: block;
   padding: 0px !important;
    padding-bottom: 5px !important;
    color: #ffffff !important;
}
/*.nav > li > a {
    position: relative;
    display: block;

    
}*/
}
/*.navbar-nav>.active>a.link::after {
    content: "";
    width: 70%;
    height: 3px;
    
    position: absolute;
    background: #0092ff;
    left: 7px;
    bottom: -6px;
}*/

.navbar-nav>.active>a,.navbar-nav>.active>a:focus,.navbar-nav>.active>a:hover{
    color: #fff;
    background-color: #080808;
    border-bottom: 2px solid #0092ff !important;
    margin-bottom: 20px;
    
}

.navbar-container {
    padding: 20px 0 20px 0;
}

.navbar.navbar-fixed-top.fixed-theme {
    background-color: #222;
    border-color: #080808;
    box-shadow: 0 0 5px rgba(0,0,0,.8);
}

.navbar-brand.fixed-theme {
    font-size: 18px;
}

.navbar-container.fixed-theme {
    padding: 0;
}

/*.navbar-brand.fixed-theme,
.navbar-container.fixed-theme,
.navbar.navbar-fixed-top.fixed-theme,
.navbar-brand,
.navbar-container{
    transition: 0.8s;
    -webkit-transition:  0.8s;
}*/

/*@media (min-width: 768px){
    .navbar-inverse {
    background: #222 !important;
    border: none !important;
   
}*/



/*@media (max-width:768px)
{
    #hidempenu{display: none;}
}*/
#menu_none {

}
.header {
 padding:10px;
}
#navbar {

}
.top_header{
    margin: 10px;
}
#navbar {
  overflow: hidden;
}


.content {
  padding: 16px;
}

.sticky {
position: fixed;
    top: 0;
    width: 100%;
    background-color: #2d0808 !important;
    min-height: 70px;
    transition: all 1s ease;
}

.sticky + .content {
  padding-top: 60px;
}
#bck_header{
	width: 100%;
	min-height: 796px;
	background-image: url('../images/h1.png');
	background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
	
}
.Night-and-Day {
    font-size: 44px;
    font-weight: 300;
    line-height: 0.55;
    letter-spacing: -2.2px;
    text-align: center;
    color: #00a5ff;
    font-family: 'Open Sans', sans-serif;
    margin-top: 297px;
    margin-bottom: 20px;
}
.after {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: -1.1px;
    text-align: center;
    color: #ffffff;
    font-family: 'Open Sans';
}
.thim-click-to-bottom{
    text-align: center;
    /* padding: 50px; */
    left: 46%;
    /*position: absolute;*/
    margin: 0 auto;
    bottom: 89px;
    margin-top: 150px;
}
.thim-click-to-bottom{
    -webkit-animation: bounce 2s infinite ease-in-out;
}
.arrow1 {

}
#arrow a{
    
}
.header-button {
    padding-top: 160px;
    padding-bottom: 50px;

}

#arrow  img{
    width: 50px;
    height: 50px;
    /*margin-top: 520px;*/
    /* text-align: center; */
   /* margin-left: 680px;*/
    border-radius: 50%;
}
.bck_header1{
	width: 100%;
	height: 562px;
	background-attachment: fixed;
	background-image: url('../images/h-6.png');
    background-repeat: no-repeat;
	background-position: center;
    background-size: cover;
}
.title_ab {
    font-family: 'Open Sans';
    font-size: 34px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.09;
    letter-spacing: -0.7px;
    color: #222222;
}
.text-style-1{
    font-weight: normal;
}
.title_themev{
    font-family: 'Open Sans';
    font-size: 44px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.55;
    letter-spacing: normal;
    text-align: center;
    color: #222222;
}
.title_the{
    font-family: 'Open Sans';
    font-size: 44px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.55;
    letter-spacing: normal;
    text-align: center;
    color: #222222;
}
.title_thef{
    font-family: 'Open Sans';
    font-size: 44px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.55;
    letter-spacing: normal;
    text-align: center;
    color: #222222;
    margin-top: 100px;
}
.text-style-12{
    font-weight: 100;
}
.gach_xanh{
    width: 99px;
    height: 5px;
    background-color: #0096ff;
    margin-top: 20px;

}
.bck_header2{
	
	background-attachment: fixed;
	background-image: url('../images/bk1.jpg');
	margin-top: 70px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 726px;
}
.bck_header3{
	
	background-attachment: fixed;
	background-image: url('../images/bk2.jpg');
    background-repeat: no-repeat;
	background-position: center;
    background-size: cover;
    width: 100%;
    height: 517px;
    margin-top: 70px;
}
.navbar-inverse {
   
    background: #222 !important;
    border: none !important;
    height: 80px;
}
.link {
        margin-left: 15px;
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        margin-top: 30px;

}
#link0 {
       /* background-color: #222;*/
}
.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: turquoise !important;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background-color: red !important;
}
#saga {
   
    position: absolute;
    font-weight: bold;
    font-style: italic;
    font-size: 36.4px;
    font-family: 'Myriad Pro Regular';
    line-height: 1;
    text-align: left;
    color: #00a8ff;
    margin-left: 50px;
}

#part1 ul{
	position: absolute;
    top: 40px;
    /*left: 600px;*/
}
#part1 ul li{
	display: inline;
}
#part1 ul li a{
	font-family: Myriad Pro;
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    margin-left: 15px;
    color: white;
    width: 592px;
    height: 12px;
    font-family: Myriad Pro;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}
#part1 h3{
	position: absolute;
    top: 260px;
    left: 550px;
    /* width: 293px; */
    height: 33px;
    /* font-size: 20px; */
    font-family: 'Open Sans';
    
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.55;
    /* letter-spacing: -2.2px; */
    /* text-align: center; */
    color: #00a5ff;
    height: 33px;
    /* font-family: OpenSans; */
    font-size: 44px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.55;
    letter-spacing: -2.2px;
    /* text-align: center; */
    color: #00a5ff;
}
#part1 ul li h5 a{
	position: absolute;
    top: -2px;
    /* left: 200px; */
    right: 370px;
    font-family: MyriadPro-CondIt;
    font-weight: bold;
    /* font-style: italic; */
    font-style: italic;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #00a8ff;
    /* width: 260px; */
    height: 26px;
    font-family: MyriadPro-CondIt;
    font-size: 36.4px;
    font-weight: bold;
    font-style: italic;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #00a8ff;
}
#part1 p{
	position: absolute;
    top: 350px;
    width: 780px;
    left: 200px;
    height: 69px;
   
    font-size: 17px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: -1px;
    text-align: center;
    color: #ffffff;
    width: 1000px;
    height: 69px;
   
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: -1px;
    text-align: center;
    color: #ffffff;
   font-family: 'Open Sans';
    font-weight: 300;
    font-style: normal;
}
#part2 {
	margin-top: 100px;
    margin-right: 120px;
}
#part2 h2{
    font-size: 34px;
    /*margin-left: 60px;*/
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.09;
    letter-spacing: -0.7px;
    /*text-align: center;*/
    color: #222222;
    font-family: 'Open Sans';
}
#part2 p{
    width: 428px;
    line-height: 1.39;
    letter-spacing: -0.7px;
    /*text-align: left;*/
    color: #6c6c6c;
    font-size: 18px;
    margin-top: 50px;
    font-family: 'Open Sans';
    /*margin-left: 65px;*/
}
.label1 {
    color: #636363;
    line-height: 24px;
    font-family: 'Open Sans';
}
.part2 {
	
}
.gachtren {
    margin-left: 10px;
    margin-right: 10px;
}
.part2 img{
    
}
.part2 a{
    
}
#part21 {
    margin-top: 120px;
    background-image: url(../images/h12.png);
    width: 451px;
    height: 451px;
    float: left;
    background-position: 40% 50%;
    border-radius: 50%;
}
#part22{
    width: 192px;
    height: 45px;
    background-color: #ffffff;
    border: solid 1px rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    margin-top: 37px;
}
#part22 img{
    width: 15px;
    height: 12px;
    margin-left: 40px;
    margin-top: 15px;

}
#part22 h4{
    
}
#part22  a{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
   /* line-height: -2.5px;*/
    letter-spacing: 0.3px;
    font-size: 12px;
  /*  text-align: left;*/
    color: #616161;
    text-align: center;
    float: right;
    margin-top: 13px;
    margin-right: 55px
}
.Shape-4-copy {
    margin: 0 auto;
    margin-top: 140px;
    width: 99px;
    height: 5px;
    background-color: #00a8ff

;
}
.Shape-4-copy-2 {
    margin: 0 auto;
    margin-top: 1%;
    width: 67px;
    height: 5px;
    background-color: #107eb7;
    margin-bottom: 20px;
    opacity: 0.8;
}
#underline1 {
    width: 99px;
    height: 5px;
    background-color: #00a8ff;
    margin-left: 500px;
    margin-top: -70px;
    margin-bottom: 100px;
}
#underline2 {
    width: 67px;
    height: 5px;
    background-color: #00a8ff;
    margin-top: -80px;
    margin-left: 515px;
    margin-bottom: 80px;
}
.underline12 {
    width: 99px;
    height: 5px;
    background-color: #00a8ff;
    margin-left: 500px;
    margin-top: 150px;
    margin-bottom: 100px;
}
.underline22 {
    width: 67px;
    height: 5px;
    background-color: #00a8ff;
    margin-top: -80px;
    margin-left: 515px;
    margin-bottom: 80px;
}
#part3 {

	/*width: 1000px;
    height: 450px;
    mix-blend-mode: darken;
    margin-top: 50px;
    /* border-bottom-color: green; */
   /* background-color: black;*/*/
}#part3 h3{
	text-align: center;
    color: #ffffff;
    font-size: 44px;
    font-weight: 300;
    line-height: 0.55;
    font-family: 'Open Sans';
    margin-top: 50px;
}
.part30{

	/*margin-left: 110px;
    margin-top: 70px;*/
}
#part31 {
	width: 249px;
	/*width: 150px;
    height: 150px;
    margin-right: 40px;*/
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #00a8ff !important;
}
.owl-theme .owl-dots, .owl-theme .owl-nav {
    text-align: center;
    margin-top: 100px !important;
    -webkit-tap-highlight-color: transparent;
}
.owl-theme .owl-nav {
    margin-top: 10px;
    display: none !important;
}
.part31avatar {
    /*background-image: url(../images/h4.png);*/
    width: 220px;
    height: 220px;
    background-repeat: no-repeat;
    border-radius: 50%;
}
#part31 img{
	width: 220px;
    height: 220px;
    background-color: #eeeef0;
    border-radius: 50%;
}
#part31 h3{
	font-family: OpenSans;
    font-size: 28px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.55;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    margin-left: 350px;
    margin-top: 50px;
}
#part31 h5{
	
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    color: #ffffff;
    font-family: 'Open Sans';
}
#part31 p{
	
    font-family: 'Open Sans';
    font-size: 14px;
    line-height: 1.71;
    text-align: center;
    color: #ffffff;

}
.part4 {
	width: 1000px;
}
#part4 h3{
	font-family: 'Open Sans', sans-serif;
    font-size: 44px;
    font-weight: 300;
    text-align: center;
    color: #222222;
    margin-top: 80px;
    line-height: 0.55;
}
.part4 h4{
	width: 120px;
    height: 30px;
    background-color: #ffffff;
    border: solid 1px rgba(0, 0, 0, 0.5);
    margin-left: 400px;
}.part4 h4 a{
	width: 70px;
    height: 9px;
    font-family: OpenSans;
    font-size: 8px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.75;
    letter-spacing: 0.3px;
    text-align: left;
    color: #616161;
    margin-left: 34px;
}
.part41 {
	font-family: 'Open Sans';
    text-align: center;
    color: #6c6c6c;
    line-height: 1.5;
    font-style: italic;
    font-size: 16px;
    padding-left: 85px;
    padding-right: 85px;
}
.part42 {
	font-family: 'Open Sans';
    text-align: center;
    color: #6c6c6c;
    line-height: 1.5;
    font-style: italic;
    font-size: 16px;
    padding-left: 85px;
    padding-right: 85px;
}
#under {

}
.part43 {
	font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: italic;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #6c6c6c;
  
}
.part44 {
	font-family: 'Open Sans';
    font-size: 16px;
    font-weight: normal;
    font-style: italic;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #6c6c6c;
    
}
.part45 {
    width: 192px;
    height: 45px;
    background-color: #ffffff;
    border: solid 1px rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    margin: 0 auto;
}
.part45 img{
    width: 15px;
    height: 12px;
    margin-left: 40px;
    margin-top: 15px;
}
.part45 a{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    letter-spacing: 0.3px;
    font-size: 12px;
    /* text-align: left; */
    color: #616161;
    text-align: center;
    float: right;
    margin-top: 13px;
    margin-right: 55px;
}
#part5 {
	margin-top: 50px;
}
#part5 h2{
	font-family: 'Open Sans';
    font-size: 44px;
    font-weight: 300;
    line-height: 0.55;
    text-align: center;
    color: #ffffff;
}
#write {

}
.part51 {

}
.part51 h2{
	
}
#part51 ul{
	margin-left: 40px;
    margin-top: 70px;
}
#part51 ul li{
	width: 200px;
    height: 55px;
    background-color: #000000;
    border: solid 1px #3e3e3e;
    margin-left: 25px;
    margin-top: 10px;
}
#part51 ul li a{
	width: 251px;
    height: 14px;
    /* font-family: OpenSans; */
    /* font-size: 20.4px; */
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.55;
    letter-spacing: normal;
    text-align: left;
    color: white;
}
.khungth{
    margin-top: 70px;
    display: flex;
    align-items: center;
    vertical-align: middle;

    width: 270px;
    height: 105px;
    background-color: #000000;
    border: solid 1px #3e3e3e;
}
.khungth{
    text-align: center;
    font-size: 18px;
    color: #cbcbcb;
}
.crem_text{
    width: 100%;
}
/*.khungth {
    width: 270px;
    height: 105px;
    background-color: #000000;
    border: solid 1px #3e3e3e;
    margin-top: 20px;
}
.crem_text {
    text-align: center;
    margin-top: 25px;
    color: #cbcbcb;
    font-size: 18px;
    font-weight: 300;
    font-family: 'Open Sans';
}*/
#part6 {
    margin-top: -70px;
}
.row {

}
.row0 {

}
#row2 span{

}
#part6 h3{
    font-family: 'Open Sans';
    font-size: 44px;
    font-weight: 600;
    line-height: 0.55;
    color: #222222;
    text-align: center;

	
}
#part6L {

}
#part6L p{
	text-align: center;
    color: #6c6c6c;
    font-family: 'Open Sans';
    margin-right: 10px;
    font-size: 16px;
    line-height: 1.5;
    font-style: italic;
    margin-top: 50px;
}
#part60 {

}
#part60 h5{
	width: 129px;
    height: 13px;
    /* font-family: OpenSans; */
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: center;
    color: #222222;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    /* color: #fff; */
    background-color: #f5eaea !important;
}
#part61 {

}
#part61 ul{

}
#part61 ul li{

}#part61 ul li a{
	margin-top: 10px;
    /* width: 326px; */
    /* height: 19px; */
    /* font-family: OpenSans; */
    /* font-size: 18px; */
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: center;
    color: #6c6c6c;
}
#row2 {
	width: 230px;
    margin-left: 230px;
}
#row21 {

    float: left
}
#row21 a{

}
#row23 {
	    float: right;
}
#row23 a{

}
.row1{
	/*width: 1000px;*/
    margin-left: 48px;
    margin-bottom: 50px;
}
#part62 {
	/*width: 800px;*/
    margin-left: 50px;

}
#part621 {
	margin-bottom: 50px;
}
.part63 {

}
.part63 img{
	width: 150px;
    height: 150px;
}
.part63avatar {
    width: 237px;
    height: 237px;
}
.fillter{
    font-family: 'Open Sans';
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #222222;
    margin-bottom: 50px;
}
.nav-tabs>li.active>a{
    border: none !important;
    border-radius: 0px !important;
    font-family: 'Open Sans';
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    text-align: center;
    color: #222222 !important;

}
.p1 {
    text-align: center;
    color: #f0f0f0;
    line-height: 1.5;
    font-style: italic;
    font-family: 'Open Sans';
    padding-left: 110px;
    padding-right: 110px;
    font-size: 16px;
}
.p2 {

}
/*a.link::after {
    content: "";
    width: 67%;
    height: 2px;
    position: absolute;
    background: red;
    left: 10px;
    bottom: -6px;
}*/
.nav-tabs>li>a {
    color: #888383 !important;

}
.nav-tabs {
    border-bottom: none !important;
}
.thereachert{
    float: right;
    margin-right: 10px;
}
.part7 {

}
.part7 img{
	width: 1000px;
}
#part7 h3{
	font-size: 44px;
    font-weight: 600;
    line-height: 0.55;
    text-align: center;
    color: #ffffff;
    margin-top: -50px;
    font-family: 'Open Sans';
}
#part71 {

}
#part71 p{
    position: absolute;
    /* top: 4200px; */
    margin-left: 150px;
    width: 800px;
    height: 209px;
    font-family: OpenSans;
    font-size: 20px;
    font-weight: normal;
    font-style: italic;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #f0f0f0;

	
}
.part71 {

}
.part72 {

}
.part8 {

}
.title_thev{
    font-weight: normal;
}
.title_theva{
    font-family: 'Open Sans';
    font-size: 44px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.55;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}
.title_themev{
    font-family: 'Open Sans';
    font-style: normal;
    font-stretch: normal;
    line-height: 0.55;
    letter-spacing: normal;
    text-align: center;
    color: #222222;
    font-size: 44px;
    font-weight: 300;
    margin-top: 100px;
    margin-bottom: -50px;
}
.p1_me {
    text-align: center;
}
.ck739 {
    width: 739px;
    margin:0 auto;
}
.kc_frrel{clear:both;height:40px;}
.form_me textarea{
    min-height:150px;
}
.namefor{
    padding-left:0px !important;
}
.nameemail{
    padding-right:0px !important;
}
.right_send input{
    width: 165px;
    height: 40px;
    background-color: #00a8ff;
    font-size: 16px;
    font-weight: 600;
    border:none;
    border-radius:0px;
    color: white;
    float: right;
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 600;
    
    line-height: 1.5;
   
    text-align: center;
    color: #ffffff;
}
.sao{
    color: red;
}
#love {
    font-family: 'Open Sans';
    font-size: 16px;
    text-align: center;
    color: #808080;
    font-style: italic;
    line-height: 1.5;
}
.part8 h3{
	
    /* height: 31px; */
    /* font-family: OpenSans; */
    /* font-size: 44px; */
    /* font-weight: 300; */
    font-style: normal;
    font-stretch: normal;
    line-height: 0.55;
    letter-spacing: normal;
    text-align: left;
    color: #222222;
    margin-left: 250px;
    margin-top: 50px;
    margin-bottom: 120px;
    /* width: 548px; */
    height: 31px;
    /* font-family: OpenSans; */
    font-size: 44px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.55;
    letter-spacing: normal;
    text-align: left;
    color: #222222;
}
.part8 p{
	height: 65px;
    /* font-family: OpenSans; */
    font-family: 'Open Sans', sans-serif;
    /*font-size: 16px;
    font-weight: normal;
    font-style: italic;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #808080;*/
    margin-left: 60px;
    /* font-family: OpenSans; */
    font-size: 18px;
    font-weight: normal;
    font-style: italic;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #808080;
}
.part81 {
	float: left;
    margin-left: 200px;
    margin-right: 200px;
}
.part82 {
	
}
.part83 {
	margin-left: 200px;
}
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 42px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.button2 {
    background-color: #008CBA;
    margin-left: 620px;
}
/*@media (max-width: 480px){
  #hidemenu{
    display: none;
  }
  .topnav {
    display: block !important;
  }
}*/
.part84 button{
    
}
.part90 {
    height: 80px;
    background-color: #222;
    margin-top: 50px;
}
.part9 {

}
.part9 p{
    color: white;
}
#part91 {
    float: right;
    margin-right: 200px;
    margin-top: 28px;
}
#part91 a{
    position: relative;
    display: inline-block;
    text-align: center;
    font-size: 20px;
    width: 2em;
    height: 2em;
    line-height: 2em;
    border: 2px solid #ffffff;
    border-radius: 50%;
    margin-left: 13px;
    margin-bottom: -10px;
}
#part91 a img{
   
    text-align: center;
    font-size: 20px;
    width: 31px;
    height: 31px;
    line-height: 2em;
   /* border: 2px solid #ffffff;*/
   /* border-radius: 50%;*/
    /*margin-left: 13px;
    margin-bottom: -10px;*/
}
#part91 a i{
   color: #ffffff;
}
#part91 a img{
   color: #ffffff;
}

.part901 {
    float: left;
    margin-top: 20px;
    margin-left: 50px;
}
#textarea {
    width: 548px;
    height: 200px;
}
.for {
    margin-left: 80px;
}
.ttile_left{
    font-family: 'Open Sans';
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 4.5;
    letter-spacing: 0.3px;
    text-align: left;
    color: #b2b2b2;
}
.stle1{
    font-weight: bold;
    font-family: 'Open Sans';
}
a{
	text-decoration:none;
}

/* css menu moble*/
/*.topnav {
  overflow: hidden;
  background-color: #333;
  display: none;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.active {
  background-color: #4CAF50;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:{}not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}


#menumobliehide{display: none;}*/